# Identifiants du Super Administrateur (Root)
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Identifiants de l'utilisateur applicatif restreint
MONGO_USER=admin_engineer
MONGO_PASS=
MONGO_HOST=mongodb
MONGO_PORT=27017